.btn {
  display: block;
  width: 90%;
  margin: 10px auto;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #041C32;
  color: rgba(146, 143, 143, 0.39);
  border: none;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn.active {
  color: white;
}
