.btn button{
    display: block;
    width: 90%;
    margin: 10px auto;
    height: 3rem;
    border-radius: 5px;
    background-color: #04293A;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.btn button:hover, .btn button:active{
    background-image: linear-gradient(to right, #f6f6f648 0%, #064968 75%, #04293A 100%);
}

.btn img{
    height: 20px;
    margin: 0 10px;
    color: white;
}